
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  padding: 15px;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  border-radius:15px;
}

.light{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  opacity: 0.5  ;
}

.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: rgb(54, 199, 54);
}

input{
  appearance: none;
}

input:checked{
  opacity: 1;
}